@font-face {
	font-family: "IconicFill Web";
	font-style: normal;
	font-weight: normal;
	src: url( "fonts/iconic/iconic_fill.eot?" ) format( "eot" ),
	     url( "fonts/iconic/iconic_fill.woff" ) format( "woff" ),
	     url( "fonts/iconic/iconic_fill.ttf") format( "truetype" ),
	     url( "fonts/iconic/iconic_fill.svg#iconic") format( "svg" );
}

@font-face {
	font-family: "OpenSans Web";
	font-style: normal;
	font-weight: normal;
	src: url( "fonts/open-sans/OpenSans-Regular.ttf") format( "truetype" );
}

@font-face {
	font-family: "OpenSans Web";
	font-style: normal;
	font-weight: bold;
	src: url( "fonts/open-sans/OpenSans-Bold.ttf") format( "truetype" );
}


* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #f2f2f2;
	color: #f0f0f0;
	font-family: "OpenSans Web", "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a {
	border-bottom: 1px solid #80A7A1;
	color: #98D9CF;
	text-decoration: none;
}

a:hover {
	border-bottom: 0;
}

canvas {
	background-image:     -ms-linear-gradient( top, #909090, #ffffff );
	background-image:      -o-linear-gradient( top, #909090, #ffffff );
	background-image: -webkit-linear-gradient( top, #909090, #ffffff );
	background-image:         linear-gradient( to bottom, #909090, #ffffff );
	display: block;
}

#container {
	background-color: #ffffff;
	display: block;
}

p {
	margin-bottom: 8px;
}

label {
	font-weight: normal;
}


/* Sidebar */
/* ------- */

.tools {
	background-color: #303030;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	display: block;
	height: 100%;
	left: 0;
	list-style-type: none;
	position: absolute;
	top: 0;
	width: 60px;
	z-index: 100;
}

	.tool p:last-child {
		margin-bottom: 0;
	}

	.tools li {
		display: block;
		height: 60px;
		margin-bottom: 1px;
		position: relative;
		width: 100%;
	}

		.tools fieldset {
			background-color: #333748;
			border: 0;
			border-bottom-right-radius: 2px;
			border-top-right-radius: 2px;
			-moz-box-sizing: border-box;
			     box-sizing: border-box;
			display: none;
			left: 60px;
			padding: 50px 16px 16px;
			position: absolute;
			max-width: 600px;
			min-height: 60px;
			min-width: 200px;
			z-index: 110;
		}

		.tools legend {
			background-color: #101010;
			-moz-box-sizing: border-box;
			     box-sizing: border-box;
			font-weight: bold;
			left: 0;
			padding: 8px 16px;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.tools li:hover fieldset {
			display: block;
		}


/* Tool specific */
/* ------------- */

.tool-about,
.tool-render {
	white-space: nowrap;
}

	.tool-render input[type="radio"] {
		display: none;
	}

	.tool-render input[type="radio"]:checked + label {
		background-color: #404040;
		background-image:     -ms-linear-gradient( top, #606060, #404040 );
		background-image:      -o-linear-gradient( top, #606060, #404040 );
		background-image: -webkit-linear-gradient( top, #606060, #404040 );
		background-image:         linear-gradient( to bottom, #606060, #404040 );
		color: #ffffff;
	}

	.tool-render label {
		background-color: #101010;
		border: 1px solid #101010;
		border-radius: 3px;
		color: #b0b0b0;
		cursor: default;
		display: inline-block;
		padding: 6px 16px;
	}

	.tool-render label:hover {
		color: #ffffff;
	}

	.tool-render label:first-of-type {
		border-right: 0;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		margin-right: -4px;
	}

	.tool-render label:last-of-type {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}


/* Icons */
/* ----- */

.icon {
	background-color: #101010;
	color: #ffffff;
	cursor: default;
	display: block;
	font-family: "IconicFill Web";
	font-size: 24px;
	height: 60px;
	left: 0;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.icon-about::before { content: "\2139"; }
.icon-controls::before { content: "\e024"; }
.icon-edit::before { content: "\e005"; }
.icon-export::before { content: "\2935"; }
.icon-import::before { content: "\e065"; }
.icon-render::before { content: "\e025"; }


/* Form fields */
/* ----------- */

input,
select,
textarea {
	background-color: #ffffff;
	border: 1px solid #d0d0d0;
	border-radius: 1px;
	color: #000000;
	font-size: 100%;
}

input[type="checkbox"] {
	margin-right: 4px;
	vertical-align: middle;
}
