@font-face {
	font-family: "IconicFill Web";
	font-style: normal;
	font-weight: normal;
	src: url( "fonts/iconic/iconic_fill.eot?" ) format( "eot" ),
	     url( "fonts/iconic/iconic_fill.woff" ) format( "woff" ),
	     url( "fonts/iconic/iconic_fill.ttf") format( "truetype" ),
	     url( "fonts/iconic/iconic_fill.svg#iconic") format( "svg" );
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('fonts/open-sans/open-sans-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('fonts/open-sans/open-sans-v17-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('fonts/open-sans/open-sans-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('fonts/open-sans/open-sans-v17-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('fonts/open-sans/open-sans-v17-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('fonts/open-sans/open-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('fonts/open-sans/open-sans-v17-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('fonts/open-sans/open-sans-v17-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('fonts/open-sans/open-sans-v17-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans/open-sans-v17-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
	margin: 0;
	padding: 0;
}

html, body {
	cursor: default;
	height: 100%;
}

body {
	background-color: #303030;
	color: #f0f0f0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a {
	border-bottom: 1px solid #80A7A1;
	color: #98D9CF;
	text-decoration: none;
}

a:hover {
	border-bottom: 0;
}

canvas {
	background-color: #ffffff;
	background-image:     -ms-linear-gradient( top, #e0e0e0, #ffffff );
	background-image:      -o-linear-gradient( top, #e0e0e0, #ffffff );
	background-image: -webkit-linear-gradient( top, #e0e0e0, #ffffff );
	background-image:         linear-gradient( to bottom, #e0e0e0, #ffffff );
	display: block;
}

#container {
	background-color: #ffffff;
	display: block;
}

fieldset {
	border: 0;
}

p {
	margin-bottom: 8px;
}

ol,
ul {
	list-style-type: none;
}

label {
	font-weight: normal;
}

canvas,
legend {
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	-webkit-user-select: none;
	        user-select: none;
}

progress {
	background-color: #505050;
	background-image: -moz-linear-gradient( top, #404040, #505050 );
	background-image:      linear-gradient( to bottom, #404040, #505050 );
	border: 1px solid #101010;
	border-radius: 1px;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	height: 14px;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

progress::-webkit-progress-bar {
	background-color: #505050;
	background-image: -webkit-linear-gradient( top, #404040, #505050 );
	background-image:         linear-gradient( to bottom, #404040, #505050 );
}

progress::-moz-progress-bar {
	background-color: #96E835;
	background-image: -moz-linear-gradient( bottom, #7FC72B, #96E835 );
	background-image:      linear-gradient( to top, #7FC72B, #96E835 );
	box-shadow: 0 0 10px 0 rgba( 105, 159, 226, 0.4 );
}

/* Yes, -moz and -webkit have to be seperated or none of them will recognize it.
 * Also: -moz-progress-BAR == -webkit-progress-VALUE
 */

progress::-webkit-progress-value {
	background-color: #96E835;
	background-image: -webkit-linear-gradient( bottom, #7FC72B, #96E835 );
	background-image:         linear-gradient( to top, #7FC72B, #96E835 );
	box-shadow: 0 0 10px 0 rgba( 105, 159, 226, 0.4 );
}



/* Sidebar */
/* ------- */

.tools,
.details {
	background-color: #303030;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 61px;
	z-index: 500;
}

.tools {
	border-right: 1px solid #404040;
	left: 0;
}

	.tool p:last-child {
		margin-bottom: 0;
	}

	.tool,
	.detail {
		height: 60px;
		margin-top: 1px;
		position: relative;
		width: 100%;
	}

		.tools fieldset {
			background-color: #333748;
			border-bottom-right-radius: 2px;
			border-top-right-radius: 2px;
			-moz-box-sizing: border-box;
			     box-sizing: border-box;
			display: none;
			left: 60px;
			padding: 50px 16px 16px;
			position: absolute;
			max-width: 600px;
			min-height: 60px;
			min-width: 200px;
			z-index: 110;
		}

		.tools legend {
			background-color: #101010;
			-moz-box-sizing: border-box;
			     box-sizing: border-box;
			font-weight: bold;
			left: 0;
			padding: 8px 16px;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.tool:hover fieldset {
			display: block;
		}


hr {
	border: 0;
	border-bottom: 1px solid #101010;
	display: block;
	margin: 10px 0;
}

.tool section {
	border-bottom: 1px solid #101010;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.tool section:last-of-type {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

	.description {
		display: inline-block;
		margin-left: 8px;
	}


.details {
	border-left: 1px solid #404040;
	right: 0;
	width: 200px;
	z-index: 450;
}

	.detail {
		height: auto;
		margin: 0 0 16px;
	}

		.detail .caption {
			background-color: #101010;
			border: 1px solid #404040;
			border-left: 0;
			border-right: 0;
			display: block;
			font-weight: bold;
			padding: 6px 16px;
		}

			.detail .number {
				background-color: #2D90EA;
				display: inline-block;
				margin-left: 6px;
				padding: 0 4px;
			}

		.detail fieldset {
			padding: 10px;
		}

		.detail input[type="number"] {
			margin-bottom: 10px;
		}

		.detail .info {
			background-color: #101010;
			border: 0;
			border-radius: 1px;
			color: #ffffff;
			display: inline-block;
			margin-right: 4px;
			padding: 1px 4px;
			text-align: center;
		}


/* Tool specific */
/* ------------- */

.tool-about,
.tool-light,
.tool-render {
	white-space: nowrap;
}


/* Icons */
/* ----- */

.icon {
	background-color: #101010;
	color: #ffffff;
	display: block;
	font-family: "IconicFill Web";
	font-size: 24px;
	height: 60px;
	left: 0;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.icon-about::before { content: "\2139"; }
.icon-close::before { content: "\2714"; }
.icon-controls::before { content: "\e024"; }
.icon-edit::before { content: "\e005"; }
.icon-export::before { content: "\2935"; }
.icon-import::before { content: "\e065"; }
.icon-light::before { content: "\e063"; }
.icon-render::before { content: "\e025"; }


/* Form fields */
/* ----------- */

input,
select,
textarea {
	background-color: #ffffff;
	border: 1px solid #d0d0d0;
	border-radius: 1px;
	color: #000000;
	font-family: "OpenSans Web", "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 100%;
}

input[type="checkbox"],
input[type="range"] {
	margin-right: 4px;
	vertical-align: middle;
}

input[type="number"] {
	background-color: #101010;
	border: 1px solid #101010;
	border-radius: 2px;
	color: #ffffff;
	padding: 2px 4px;
	text-align: right;
	width: 50px;
}

input[type="radio"].newradio {
	display: none;
}

input[type="radio"].newradio:checked + label.newradio,
.button {
	background-color: #404040;
	background-image:     -ms-linear-gradient( top, #606060, #404040 );
	background-image:      -o-linear-gradient( top, #606060, #404040 );
	background-image: -webkit-linear-gradient( top, #606060, #404040 );
	background-image:         linear-gradient( to bottom, #606060, #404040 );
	color: #ffffff;
}

label.newradio {
	background-color: #101010;
	border: 1px solid #101010;
	border-left-color: #303030;
	border-right: 0;
	color: #b0b0b0;
	display: inline-block;
	margin-right: -4px;
	padding: 6px 16px;
}

label.newradio:hover {
	color: #ffffff;
}

label.newradio:first-of-type {
	border-left-color: #101010;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

label.newradio:last-of-type {
	border-right: 1px solid #101010;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	margin-right: 0;
}

.button {
	border: 1px solid #101010;
	border-radius: 3px;
	display: inline-block;
	padding: 8px 16px;
}

.button:hover {
	border-color: #b0b0b0;
}

.button:active {
	background-color: #606060;
	background-image:     -ms-linear-gradient( top, #404040, #606060 );
	background-image:      -o-linear-gradient( top, #404040, #606060 );
	background-image: -webkit-linear-gradient( top, #404040, #606060 );
	background-image:         linear-gradient( to bottom, #404040, #606060 );
	color: #000000;
}

.button.disabled {
	opacity: 0.5;
}

.textinput {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	border: 0;
	font-size: 100%;
	padding: 2px 4px;
	width: 100%;
}

.selectContainer {
	border: 1px solid #606060;
	border-radius: 1px;
	max-height: 110px;
	overflow-y: auto;
	position: relative;
	width: 100%;
}

	.selectContainer input {
		background-color: #101010;
		-moz-box-sizing: border-box;
		     box-sizing: border-box;
		border: 0;
		color: #ffffff;
		margin-bottom: 1px;
		padding: 6px 0;
		text-align: center;
		width: 100%;
	}

	.selectContainer input:last-child {
		margin-bottom: 0;
	}

	.selectContainer input:hover,
	.selectContainer .active,
	.message {
		background-color: #2D90EA;
		background-image:     -ms-linear-gradient( bottom, #1F78CA, #2D90EA );
		background-image:      -o-linear-gradient( bottom, #1F78CA, #2D90EA );
		background-image: -webkit-linear-gradient( bottom, #1F78CA, #2D90EA );
		background-image:         linear-gradient( to top, #1F78CA, #2D90EA );
	}


/* Special */
/* ------- */

.foundHole,
.foundPoint {
	border-left-style: solid !important;
	border-left-width: 4px !important;
	display: block;
	padding-left: 0 !important;
	padding-right: 4px !important;
}

.foundHole.filled,
.foundPoint.removed {
	opacity: 0.5;
}

.message {
	border-radius: 2px;
	margin: 0;
	padding: 1px 4px;
}


/* Scrollbars in WebKit */
/* -------------------- */

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar:horizontal {
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: #303030;
	border-radius: 12px;
	box-shadow: inset 0 0 6px 0 rgba( 0, 0, 0, 0.5 );
}

::-webkit-scrollbar-thumb {
	background-color: #808080;
	border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #b0b0b0;
}
